.heading {
    margin-top: 5%;
}

.message {
    margin-bottom: 35px;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.errorColor {
    color: #ef8c8c;
}

.purple {
    color: #928cef;
}

.grey {
    color: #71717A;
}

.detailContainer {
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

.detailContainer p {
    color: #71717A;
    font-size: 1.1rem;
    text-align: center;
    width: 100%;
}

.detailContainer i {
    color: #928cef;
    font-size: 1.5rem;
}

.buttonColor span {
    color: white;
}

.votesContainer p {
    float: left;
    width: 50%;
}