.pollsContainer {
    margin: 0 auto;
    width: 90%;
}

.pollRow {
    margin: 0 auto;
    padding: 1% 0;
    border-bottom: 1px solid #d4d4d8;
    height: 75px;
    width: 100%;
}

.pollRow p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}

.empty {
    padding-top: 14px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.code {
    padding-top: 14px;
    float: left;
    text-align: center;
    width: 15%;
}

.question {
    padding-top:14px;
    float: left;
    text-align: left;
    width: 35%;
}

.date {
    padding-top: 14px;
    float: left;
    text-align: center;
    width: 15%;
}

.visible {
    float: left;
    text-align: center;
    width: 10%;
}

.info {
    float: left;
    text-align: center;
    width: 10%;
}

.info-normal {
    padding-right: 1.5%;
    float: left;
    text-align: right;
    width: 20%;
}

.info .p-button-icon, .info-normal .p-button-icon {
    color: white;
}